@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?tz6pdq');
	src:url('fonts/icomoon.eot?#iefixtz6pdq') format('embedded-opentype'),
		url('fonts/icomoon.woff?tz6pdq') format('woff'),
		url('fonts/icomoon.ttf?tz6pdq') format('truetype'),
		url('fonts/icomoon.svg?tz6pdq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon_camion:before {
	content: "\e600";
}
.icon-icon_actualizar:before {
	content: "\e601";
}
.icon-icon_flecha:before {
	content: "\e602";
}
.icon-icon_horas:before {
	content: "\e603";
}
.icon-icon_litros:before {
	content: "\e604";
}
.icon-icon_menu:before {
	content: "\e605";
}
.icon-icon_zonas:before {
	content: "\e606";
}
